@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.landing_container {
  font-family: "Great Vibes", cursive;
  height: 6300px;
  background-color: black;
  color: #cfb53b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  .logo {
    height: 550px;
  }
  .message {
    font-size: 2.5rem;
    color: red;
  }

  .zu {
    height: 550px;
    margin-top: 5%;
    width: 60%;
  }
}

@mixin mobile {
  .landing_container {
    height: 4700px;
  }
  .logo {
    width: 320px;
    align-self: flex-end;
    margin-top: 50px;
  }

  .landing_container .zu {
    width: 90%;
    height: 400px;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 321px) {
  @include mobile();
}

@media only screen and (min-width: 321px) and (max-width:376px) {
  @include mobile();
}

@media only screen and (min-width: 376px) and (max-width:476px) {
  @include mobile();
}